---
import Layout from "../layouts/Layout.astro";
import heroRecrutement from "../assets/recrutement-page/hero-recrutement.webp";
import Hero from "../components/Hero.astro";
import recrutement1 from "../assets/recrutement-page/recrutement1.webp";
import recrutement2 from "../assets/recrutement-page/recrutement2.webp";
import recrutement3 from "../assets/recrutement-page/recrutement3.webp";
import etrekiwanienne1 from "../assets/recrutement-page/etrekiwanienne1.webp";
import etrekiwanienne2 from "../assets/recrutement-page/etrekiwanienne2.webp";
import etrekiwanienne3 from "../assets/recrutement-page/etrekiwanienne3.webp";
---

<Layout>
  <Hero
    image={heroRecrutement}
    title="Recrutement"
    subtitle="Rejoignez notre équipe de bénévoles passionnées"
  />

  <div
    class="flex flex-col gap-32 md:gap-44 lg:gap-64 max-w-[85dvw]! md:max-w-[80dvw]! mx-auto my-24 md:my-32 lg:my-40"
  >
    <section class="flex flex-col lg:flex-row w-full gap-6">
      <div class="flex flex-col flex-1 gap-4">
        <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-4">
          L'intronisation
        </h2>
        <p class="text-xs md:text-sm lg:text-base mb-6">
          L’intronisation marque l’entrée officielle d’un nouveau membre au sein
          du club. C’est un moment à la fois simple, solennel et symbolique, qui
          se déroule dans le respect du protocole Kiwanis.
        </p>
      </div>
      <img
        src={recrutement1.src}
        alt="Recrutement 1"
        class="w-full lg:w-1/2 flex-1 rounded-lg object-cover"
      />
    </section>
    <section class="flex flex-col lg:flex-row w-full gap-6">
      <div class="flex flex-col flex-1 gap-4">
        <h3 class="text-lg md:text-xl lg:text-2xl font-semibold mb-4">
          Cérémonies D’intronisation
        </h3>
        <ol
          class="flex flex-col gap-3 md:gap-4 lg:gap-6 text-xs md:text-sm lg:text-base"
        >
          <li class="flex items-center gap-4">
            <span
              class="shrink-0 w-6 h-6 md:w-7 md:h-7 rounded-full border border-black flex items-center justify-center font-bold text-[10px] md:text-xs"
              >1</span
            >
            <span>La cérémonie a lieu en début de réunion.</span>
          </li>
          <li class="flex items-center gap-4">
            <span
              class="shrink-0 w-6 h-6 md:w-7 md:h-7 rounded-full border border-black flex items-center justify-center font-bold text-[10px] md:text-xs"
              >2</span
            >
            <span
              >Elle se déroule lors d’un dîner statutaire ou d’un repas avec
              conjoints.</span
            >
          </li>
          <li class="flex items-center gap-4">
            <span
              class="shrink-0 w-6 h-6 md:w-7 md:h-7 rounded-full border border-black flex items-center justify-center font-bold text-[10px] md:text-xs"
              >3</span
            >
            <span
              >Le candidat est placé près du Président, avec son ou ses
              parrains.</span
            >
          </li>
          <li class="flex items-center gap-4">
            <span
              class="shrink-0 w-6 h-6 md:w-7 md:h-7 rounded-full border border-black flex items-center justify-center font-bold text-[10px] md:text-xs"
              >4</span
            >
            <span
              >Le Président rappelle les valeurs et les règles du Kiwanis.</span
            >
          </li>
          <li class="flex items-center gap-4">
            <span
              class="shrink-0 w-6 h-6 md:w-7 md:h-7 rounded-full border border-black flex items-center justify-center font-bold text-[10px] md:text-xs"
              >5</span
            >
            <span
              >Le candidat s’engage à servir le Kiwanis et les enfants du monde.</span
            >
          </li>
          <li class="flex items-center gap-4">
            <span
              class="shrink-0 w-6 h-6 md:w-7 md:h-7 rounded-full border border-black flex items-center justify-center font-bold text-[10px] md:text-xs"
              >6</span
            >
            <span
              >Le nouveau membre reçoit son insigne et les documents du club.</span
            >
          </li>
          <li class="flex items-center gap-4">
            <span
              class="shrink-0 w-6 h-6 md:w-7 md:h-7 rounded-full border border-black flex items-center justify-center font-bold text-[10px] md:text-xs"
              >7</span
            >
            <span>Il est ensuite accueilli comme Kiwanien.</span>
          </li>
        </ol>
      </div>
      <img
        src={recrutement2.src}
        alt="Recrutement 2"
        class="w-full lg:w-1/2 flex-1 rounded-lg object-cover"
      />
    </section>
    <section class="flex flex-col lg:flex-row w-full gap-6">
    <div class="flex flex-col flex-1 gap-4">
      <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-4">
        Nos Réunions
      </h2>
      <p class="text-xs md:text-sm lg:text-base">
        Nous nous réunissons tous les premiers mardis de chaque mois autour d’un
        repas. N’hésitez pas à nous contacter si vous désirez nous rejoindre !
      </p>
    </div>
    <img
      src={recrutement3.src}
      alt="Recrutement 3"
      class="w-full lg:w-1/2 flex-1 rounded-lg object-cover"
    />
  </section>
  
<section class="max-w-[85dvw]! md:max-w-[80dvw]! mx-auto">
  <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-12">
    Être Kiwanien / Kiwanienne, C'est :
  </h2>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 mb-12">
    <div
      class="bg-white rounded-4xl shadow-sm border border-gray-100 overflow-hidden flex flex-col text-center"
    >
      <img
        src={etrekiwanienne1.src}
        alt="Action"
        class="w-full aspect-4/5 max-h-[40dvh] object-cover object-top"
      />
      <div class="p-8 grow flex items-center justify-center">
        <p class="text-sm md:text-base font-semibold">
          Participer à des actions pour les enfants
        </p>
      </div>
    </div>

    <div
      class="bg-white rounded-4xl shadow-sm border border-gray-100 overflow-hidden flex flex-col text-center"
    >
      <img
        src={etrekiwanienne2.src}
        alt="Entraide"
        class="w-full aspect-4/5 max-h-[40dvh] object-cover object-top"
      />
      <div class="p-8 grow flex items-center justify-center">
        <p class="text-sm md:text-base font-semibold">
          Faire parti d'un club convivial, centré sur l'entraide
        </p>
      </div>
    </div>

    <div
      class="bg-white rounded-4xl shadow-sm border border-gray-100 overflow-hidden flex flex-col text-center"
    >
      <img
        src={etrekiwanienne3.src}
        alt="Bonne humeur"
        class="w-full aspect-4/5 max-h-[40dvh] object-cover object-top"
      />
      <div class="p-8 grow flex items-center justify-center">
        <p class="text-sm md:text-base font-semibold">
          Partager la bonne humeur et la bonne volonté
        </p>
      </div>
    </div>
  </div>

  <p class="text-[10px] md:text-xs text-gray-400 text-center max-w-3xl mx-auto pt-16">
    Une cotisation de 75€ est demandée par membre, par trimestre. Ce montant
    assure le bon fonctionnement et la continuité du Kiwanis Pays de Montbéliard
    !
  </p>
</section>

  </div>

  
</Layout>
