---
export interface Props {
  href: string;
  variant?: "ghost" | "accent";
  isRounded?: boolean;
  icon?: { html: string };
  class?: string;
}

const { 
  href, 
  variant = "accent", 
  isRounded = false, 
  icon,
  class: className = "" 
} = Astro.props;

const variantClass = variant === "ghost" ? "btn-ghost" : "btn-accent";
const roundedClass = isRounded ? "rounded-full" : "";
---

<a
  href={href}
  class={`btn btn-sm ${variantClass} !text-sm !font-normal !normal-case ${roundedClass} ${className}`}
>
  <slot />
  {icon && <span set:html={icon.html} />}
</a>
