---
import edit from "../assets/edit.svg";
const user = Astro.props.user;
const isAdmin = Astro.props.isAdmin;
---

<div class="user-card flex items-center justify-between p-4 bg-base-200 rounded-lg shadow-md" data-user-id={user.id} data-user-name={user.name} data-user-email={user.email}>
  <div class="flex items-center gap-4">
    <div>
      <h3 class="text-lg font-bold">{user.name}</h3>
      <p class="text-sm text-gray-500">{user.email}</p>
    </div>
  </div>
  {isAdmin && <button class="modify-btn btn btn-sm btn-primary flex items-center">
    <img src={edit.src} aria-hidden="true" class="w-4 h-4 mr-2" style="filter: brightness(0) invert(1);" />
    Modifier</button>}
</div>
