---
import Layout from "../../layouts/Layout.astro";
import diagArrow from "../../assets/diag-arrow.svg";
import backArrow from "../../assets/back-arrow.svg";

const id = Astro.params.id;
const action = await Astro.locals.pb.collection("actions").getOne(id!);

const heroImg = Astro.locals.pb.files.getURL(action, action.hero);
const partie1Img = Astro.locals.pb.files.getURL(action, action.photo_partie_1);
const partie2Img = Astro.locals.pb.files.getURL(action, action.photo_partie_2);
const partie3Img = Astro.locals.pb.files.getURL(action, action.photo_partie_3);
---

<Layout>
  <a
    href="/actions"
    class="hidden fixed px-4 py-3 min-h-11 lg:flex items-center justify-center z-50 bg-base-100 bg-opacity-80 rounded-box text-sm lg:text-base lg:left-[2%] lg:top-[12%]"
  >
    <img
      src={backArrow.src}
      alt="Retour aux actions"
      class="inline-block mr-2 invert w-4 h-4 md:w-5 md:h-5"
    />Retour aux actions</a
  >
  <div class="w-full max-w-7xl mx-auto mt-32 lg:mt-48 relative px-4 md:px-8">
    <a href="/actions" class="flex lg:hidden items-center text-sm mb-8">
      <img
        src={backArrow.src}
        alt="Retour aux actions"
        class="inline-block mr-2 invert w-4 h-4 md:w-5 md:h-5"
      />Retour aux actions</a
    >
    <!-- Section titre -->
    <h1 class="uppercase w-full text-3xl md:text-4xl lg:text-5xl">
      {action.titre}
    </h1>

    <div
      class="flex flex-col md:flex-row items-start md:items-center mt-4 md:mt-0 w-full justify-between"
    >
      <p>{action.sous_titre}</p>
      <div>
        {
          action.date_debut
            ? `${new Date(action.date_debut).toLocaleDateString("fr-FR", { day: "numeric", month: "long", year: "numeric" })}`
            : ""
        }
        {
          action.date_fin
            ? ` au ${new Date(action.date_fin).toLocaleDateString("fr-FR", { day: "numeric", month: "long", year: "numeric" })}`
            : ""
        }
      </div>
    </div>

    <!-- Section Hero -->
    <div class="flex flex-col items-end my-12 md:my-32">
      <img
        src={heroImg}
        alt={action.description_hero}
        class="w-full min-h-[30dvh] object-cover object-center rounded-lg"
      />
      <p class="text-sm md:text-base mt-4">{action.description_hero}</p>
    </div>

    <!-- Section Partie 1 -->
    <div
      class="flex flex-col max-w-7xl mx-auto my-16 md:my-32 gap-4 px-4 md:px-8"
    >
      <h2 class="text-2xl md:text-3xl">{action.titre_partie_1}</h2>
      <div
        class="grid grid-cols-1 lg:grid-cols-[1fr_1fr] gap-8 lg:gap-16 min-h-[40dvh]"
      >
        <div class="flex flex-col gap-8">
          <div class="flex flex-col gap-4">
            {action.texte_partie_1.split("\n").map((line) => <p>{line}</p>)}
          </div>
        </div>
        <div
          class="flex flex-col items-end w-full mx-auto max-h-[50dvh] lg:max-w-full"
        >
          <img
            src={partie1Img}
            alt={action.description_photo_partie_1}
            class="w-full h-full flex-1 object-cover rounded-lg"
          />
          <p class="text-sm mt-4">{action.description_photo_partie_1}</p>
        </div>
      </div>
    </div>

    <!-- Section Lieu, Chiffres, Bénéficiaires -->
    <div
      class="flex flex-col lg:flex-row justify-between gap-6 md:gap-8 w-full h-auto mx-auto lg:h-48 my-16 md:my-32 px-4 md:px-0"
    >
      {
        action.nom_lieu || action.adresse_lieu ? (
          <div class="bg-accent text-base-100 w-full h-full rounded-2xl px-6 md:px-8 py-4 md:py-6 flex flex-col justify-between min-h-30 md:min-h-48">
            <div class="flex flex-col">
              {action.nom_lieu && (
                <h2 class="text-lg md:text-xl">
                  {action.nom_lieu}
                  {action.adresse_lieu ? "," : ""}
                </h2>
              )}
              {action.adresse_lieu && (
                <p class="text-lg md:text-2xl!">{action.adresse_lieu}</p>
              )}
            </div>
            <div class="flex items-center justify-between w-full">
              <a
                href=""
                class="flex items-center gap-2 md:gap-4 text-base md:text-xl!"
              >
                Voir sur Google maps{" "}
                <img src={diagArrow.src} aria-hidden="true" />
              </a>
              <p class="text-base md:text-xl!">LIEU</p>
            </div>
          </div>
        ) : null
      }
      {
        action.chiffre && (
          <div class="bg-accent text-base-100 w-full h-full rounded-2xl px-6 md:px-8 py-4 md:py-6 flex flex-col justify-between min-h-30 md:min-h-48">
            <h2 class="text-5xl! md:text-7xl!">{action.chiffre} €</h2>
            {action.type_de_chiffre ? (
              <p class="text-base md:text-xl! uppercase self-end">
                {action.type_de_chiffre}
              </p>
            ) : (
              <p class="text-base md:text-xl! uppercase self-end">
                chiffres clés
              </p>
            )}
          </div>
        )
      }
      {
        action.beneficiaire && (
          <div class="bg-accent text-base-100 w-full h-full rounded-2xl px-6 md:px-8 py-4 md:py-6 flex flex-col justify-between min-h-30 md:min-h-48">
            <h2 class="text-lg md:text-xl">{action.beneficiaire}</h2>
            <p class="text-base md:text-xl! uppercase self-end">
              bénéficiaires
            </p>
          </div>
        )
      }
    </div>

    <!-- Section Partie 2 -->
    <div
      class="grid grid-cols-1 lg:grid-cols-[1fr_1fr] gap-6 md:gap-8 lg:gap-16 min-h-[40dvh] my-16 md:my-32 px-4 md:px-0"
    >
      <div class="flex flex-col gap-8">
        <h2 class="uppercase font-light! text-2xl md:text-3xl">
          {action.titre_partie_2}
        </h2>

        <div class="flex flex-col gap-8">
          <div class="flex flex-col gap-4">
            {action.texte_partie_2.split("\n").map((line) => <p>{line}</p>)}
          </div>
        </div>
      </div>
      <div
        class="flex flex-col items-end w-full mx-auto max-h-[50dvh] lg:max-w-full"
      >
        <img
          src={partie2Img}
          alt={action.description_photo_partie_2}
          class="w-full h-full flex-1 object-cover rounded-lg"
        />
        <p class="text-sm mt-4">{action.description_photo_partie_2}</p>
      </div>
    </div>

    <!-- Section Partie 3 -->
    <div
      class="flex flex-col-reverse lg:grid lg:grid-cols-[1fr_1fr] gap-6 md:gap-8 lg:gap-16 min-h-[40dvh] mt-16 mb-16 md:mt-16 md:mb-32 px-4 md:px-0"
    >
      <div class="flex flex-col w-full mx-auto max-h-[50dvh] lg:max-w-full">
        <img
          src={partie3Img}
          alt={action.description_photo_partie_3}
          class="w-full h-full flex-1 object-cover rounded-lg"
        />
        <p class="text-sm mt-4 self-end lg:self-auto">
          {action.description_photo_partie_3}
        </p>
      </div>
      <div class="flex flex-col gap-8">
        <h2 class="uppercase font-light! text-2xl md:text-3xl">
          {action.titre_partie_3}
        </h2>

        <div class="flex flex-col gap-8">
          <div class="flex flex-col gap-4">
            {action.texte_partie_3.split("\n").map((line) => <p>{line}</p>)}
          </div>
        </div>
      </div>
    </div>

    <!-- Section Remerciements -->
    <div
      class="flex flex-col max-w-full md:max-w-1/2 px-4 md:px-0 gap-4 md:gap-8 my-16 md:my-32"
    >
      <h2 class="uppercase font-light! text-2xl md:text-3xl">
        {action.titre_remerciements}
      </h2>
      <div class="flex flex-col gap-4">
        {
          action.description_remerciements
            .split("\n")
            .map((line) => <p>{line}</p>)
        }
      </div>
    </div>

    <!-- Section Galerie Photo -->
    <div class="flex flex-col gap-6 md:gap-8 my-16 md:my-32 px-4 md:px-0">
      <div class="bg-accent text-base-100 uppercase w-full h-fit rounded-box">
        <h2 class="text-2xl md:text-3xl! px-6 md:px-8 py-4 md:py-6">
          Galerie photo
        </h2>
      </div>
      <div
        id="photoGrid"
        class="grid gap-4 h-[90dvh] md:h-[50dvh] lg:h-[80dvh]"
        data-photo-count={action.galerie_photos.length}
      >
        {
          action.galerie_photos.map((photo, index) => {
            const photoURL = Astro.locals.pb.files.getURL(action, photo);

            return (
              <div
                class="relative w-full h-full overflow-hidden rounded-box cursor-pointer"
                data-photo-url={photoURL}
              >
                <img
                  src={photoURL}
                  alt="Photo de la galerie"
                  class="absolute inset-0 w-full h-full object-center object-cover"
                />
              </div>
            );
          })
        }
      </div>
    </div>

    <!-- Modal pour afficher l'image en grand -->
    <div
      id="imageModal"
      class="fixed inset-0 bg-accent/60 items-center justify-center z-50 hidden lg:mt-16"
    >
      <div class="relative max-w-full max-h-full p-2 md:p-4">
        <img
          id="modalImage"
          src=""
          alt="Image agrandie"
          class="max-w-full max-h-[80dvh] w-auto h-auto object-contain"
        />
        <button
          id="closeButton"
          class="absolute top-2 right-2 md:top-4 md:right-4 text-xl! bg-base-100 bg-opacity-80 rounded-full w-8 h-8 md:w-10 md:h-10 flex items-center justify-center"
          >×</button
        >
        <button
          id="prevButton"
          class="absolute left-2 md:left-4 top-1/2 transform -translate-y-1/2 text-xl! bg-base-100 bg-opacity-80 rounded-full w-8 h-8 md:w-10 md:h-10 flex items-center justify-center"
          >‹</button
        >
        <button
          id="nextButton"
          class="absolute right-2 md:right-4 top-1/2 transform -translate-y-1/2 text-xl! bg-base-100 bg-opacity-80 rounded-full w-8 h-8 md:w-10 md:h-10 flex items-center justify-center"
          >›</button
        >
      </div>
    </div>

</div>
</Layout>

<script src="../../scripts/gallery.js"></script>